$bgWhite: #fff;
$borderRadius: 2px;
$mainBg: #f4f8f9;
$lightBlue: #0c8aef;
$floatRight: right;
$floatLeft: left;
$darkGrey: #444;
$borderRadiusL: 4px;
$boxShadowLight: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

body {
  background: $mainBg;
  font-family: "Raleway", sans-serif !important;
}

.hidden {

  display: none !important;
}

.popover {
  display: inline-block;
  position: relative;

  .popover-menu {
    border-radius: $borderRadiusL;
    border-top: 2px solid $bgWhite;
    background: $bgWhite;
    list-style-type: none;
    margin: 8px 0;
    min-width: 100%;
    padding: 0.8rem;
    z-index: 9;
    position: absolute;
    top: 100%;
    left: 1rem;
    height: 5.5rem;
    width: 12rem;
    margin-top: -2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease;

    transform: scale(0.9);
    transform-origin: top left;
    display: block;
    // opacity: 0;

    &:after {
      bottom: 100%;
      left: -0.9rem;
      border: solid transparent;
      content: " ";
      top: 1rem;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-right-color: $bgWhite;
      border-width: 7px;
    }

    .action {
      margin-top: 1rem;

      .submit-btn {
        border: 1px solid $lightBlue;
        background: $lightBlue;
        color: $bgWhite;
        font-weight: bold;
        border-radius: $borderRadius;
        padding: 5px 10px 5px 10px;
        width: 4rem;
      }

      .cancel-btn {
        border: 1px solid $lightBlue;
        color: $lightBlue;
        font-weight: bold;
        border-radius: $borderRadius;
        margin-left: 10px;
        padding: 5px 10px 5px 10px;
      }
    }

    .group {
      margin-top: 0.7rem;

      .bar {
        position: relative;
        display: block;
        width: 300px;
      }

      label {
        color: #8b959e;
        font-size: 12px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 11px;
        top: 41px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }

      input {
        font-size: 13px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #dce4ee;
      }

      input:focus ~ label,
      input:valid ~ label {
        top: 14px;
        font-size: 11px;
      }

      input:focus {
        outline: none;
      }
    }
  }
}

.popover-active {
  .popover-menu {
    transform: scale(1);
    display: block;
    // opacity: 1;
  }
}

.container {
  margin: 0 auto;
  margin-top: 4rem;
  button {
    outline: none;
    cursor: pointer;
  }

  .card {
    background: $bgWhite;
    border-radius: $borderRadius;
    max-width: 55rem;
  }

  .profile-banner {
    margin-top: 2rem;
    padding: 1rem;
    margin: 0 auto;
    min-height: 12.8rem;

    .logout-btn {
      float: $floatRight;
      border: 1px solid $lightBlue;
      color: $lightBlue;
      font-weight: bold;
      border-radius: $borderRadius;
      padding: 5px 10px 5px 10px;
    }

    .upload {
      text-align: center;
      margin-top: 3rem;

      .upload-btn {
        padding: 10px 20px 10px 20px;
        background: none;
        border-radius: $borderRadius;
        border: 1px solid #dce4ee;
        color: #cfdce8;
      }
    }
  }
  .profile-details {
    padding: 2rem;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: $boxShadowLight;
    min-height: 26rem;

    .edit-form-mobile{
        display: none;
    }

    .tabcontent {
      display: none;
      padding: 0px 12px;
      border-top: none;
    }
    .edit-btn-lg{
        display: none;
    }

    .details {
      margin-bottom: 3px;

      .pill {
        background: #f6f7f9;
        padding: 8px 10px;
        font-size: 14px;
        color: $darkGrey;
      }

      .det-btn {
        border: none;
        background: #ecf1f5;
        height: 30px;
        margin-top: 0rem;
        margin-left: -4px;
        padding-bottom: -11.5px !important;
        cursor: pointer;
      }

      .det-btn:hover {
        background: #007ee5;
        color: $bgWhite !important;
      }
    }
  }
  .profile-image {
    width: 100%;
    height: 100%;
    margin-top: -1.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 6px rgba(0, 0, 0, 0.1);
  }
  .profile-info {
    max-width: 17.7rem;
    margin-top: 1rem;
    .profile-image-container {
      float: left;
      width: 8.5rem;
      height: 8rem;
      position: absolute;
    }

    .contact-info {
      float: $floatRight;
      color: #bbb;

      .contact-info-name {
        font-size: 1.1rem;
        color: $darkGrey;
        line-height: 26px;
      }
      .contact-info-address {
        font-size: 12px;
        color: $darkGrey;
        line-height: 26px;
      }
      .contact-info-phone {
        font-size: 12px;
        color: $darkGrey;
        line-height: 26px;
      }
    }
  }

  .tab {
    overflow: hidden;
    box-shadow: $boxShadowLight;
    background-color: $bgWhite;
    margin: 0 auto;
    padding: 0.7rem 1rem;
    margin-top: -2.5rem;

    button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      transition: 0.3s;
      font-size: 11px;
      color: $darkGrey;
    }

    button:first-child {
      margin-left: 9.4rem;
    }

    .description {
      font-size: 12px;
    }
    .count {
      color: $darkGrey;
      font-size: 12px;
    }
    .followers {

      color: #a6b0b7;
      font-size: 1.2rem;
      float: right;
      .followers-icon{
        position: absolute;
        margin-top: 5px;
      }

     
    }
  }

  .rating {
    float: $floatRight;
    color: #707e86;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: -5rem;

    .count {
      margin-left: 1rem;
      font-size: 12px;
    }
    .reviews {
      letter-spacing: 0px !important;
      font-size: 12px;
    }
  }

  h3 {
    color: #888;
    font-weight: 300;
  }
}


.edit-form-mobile {
    .action {
        margin-top: 1rem;
  
        .submit-btn {
          border: 1px solid $lightBlue;
          background: $lightBlue;
          color: $bgWhite;
          font-weight: bold;
          border-radius: $borderRadius;
          padding: 5px 10px 5px 10px;
          width: 4rem;
        }
  
        .cancel-btn {
          border: 1px solid $lightBlue;
          color: $lightBlue;
          font-weight: bold;
          border-radius: $borderRadius;
          margin-left: 10px;
          padding: 5px 10px 5px 10px;
        }
      }
    .group {
        margin-top: 0.7rem;
  
        .bar {
          position: relative;
          display: block;
          width: 300px;
        }
  
        label {
          color: #8b959e;
          font-size: 12px;
          font-weight: normal;
          position: absolute;
          pointer-events: none;
          left: 11px;
          top: 41px;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
        }
  
        input {
          font-size: 13px;
          padding: 10px 10px 10px 5px;
          display: block;
          width: 100%;
          border: none;
          border-bottom: 1px solid #dce4ee;
        }
  
        input:focus ~ label,
        input:valid ~ label {
          top: 14px;
          font-size: 11px;
        }
  
        input:focus {
          outline: none;
        }
      }
}

//For Mobile Responsiveness

@media only screen and (max-width: 600px) {
  .container {
    margin: 0 !important;
    width: 100% !important;
    margin-top: 0rem;
    .logout-btn {
      border: none !important;
      background: transparent;
    }
    .upload {
      display: none;
    }
    .card {
      width: 100%;
      max-width: 100%;
    }
    .profile-banner {
      background: transparent !important;
    }
    .profile-info {
      width: 100%;
      margin-top: 4rem;
      padding-bottom: 2rem;
      max-width: 100%;
      .profile-image-container {
        position: relative;
        float: none;
        margin: auto;
      }
      .contact-info {
        width: 100%;
        margin-top: 0rem;
        float: none;
        .contact-info-name {
          text-align: center;
        }
      }
    }
    .rating {
      float: none;
      margin-top: -1.7rem;
      color: $lightBlue;
      width: 28%;
      .count {
        margin-left: 0rem;
        font-size: 12px;
      }
      .reviews {
        color: #707e86 !important;
      }
      .rating-det {
        width: 100%;
        color: $darkGrey !important;
      }
    }
    .tab {
      margin-top: 2rem;
      button:first-child {
        margin-left: 0rem;
      }
      .followers {
        color: #a6b0b7;
        font-size: 1.2rem;
        float: none;
        margin-top: -3.7rem;
        margin-left: -19.5rem;
        position: absolute;
        .followers-icon {
          position: absolute;
          margin-top: 4px;
        }
        .count {
          margin-left: 22px;
        }
      }
    }

    .profile-details {
      margin-top: 1rem;
      .edit-form-mobile{
          display: none;
      }
      
      .details{
        .pill{
            background: none;
        }
          .det-btn{
              visibility: hidden;
          }
      }
      .edit-btn-lg{
          float: right;
          display: block;
          border: none;
        background: #ecf1f5;
        height: 30px;
        margin-top: -2.5rem;
        margin-left: -4px;
        padding-bottom: -11.5px !important;
      }
    }
  }
}
